@import url(../libs/normalize-css/normalize.css);
@font-face {
  font-family: 'arial-bold';
  src: url("../fonts/arial/ArialBold.woff") format("woff");
  font-weight: bold; }

@font-face {
  font-family: 'arial-bold';
  src: url("../fonts/arial/ArialBold.eot") format("eot");
  font-weight: bold; }

@font-face {
  font-family: 'arial-bold';
  src: url("../fonts/arial/ArialBold.ttf") format("ttf");
  font-weight: bold; }

@font-face {
  font-family: 'arial-regular';
  src: url("../fonts/arial/ArialRegular.woff") format("woff");
  font-weight: regular; }

@font-face {
  font-family: 'arial-regular';
  src: url("../fonts/arial/ArialRegular.eot") format("eot");
  font-weight: regular; }

@font-face {
  font-family: 'arial-regular';
  src: url("../fonts/arial/ArialRegular.ttf") format("ttf");
  font-weight: regular; }

@font-face {
  font-family: 'candara';
  src: url("../fonts/candara/Candara.woff") format("woff"); }

@font-face {
  font-family: 'candara';
  src: url("../fonts/candara/Candara.woff2") format("woff2"); }

@font-face {
  font-family: 'candara';
  src: url("../fonts/candara/Candara.ttf") format("ttf"); }

@font-face {
  font-family: 'candara';
  src: url("../fonts/candara/Candara.eot") format("eot"); }

@font-face {
  font-family: 'opens-sans';
  src: url("../fonts/open-sans/open-sans.woff") format("woff"); }

@font-face {
  font-family: 'opens-sans';
  src: url("../fonts/open-sans/open-sans.woff2") format("woff2"); }

@font-face {
  font-family: 'opens-sans';
  src: url("../fonts/open-sans/open-sans.ttf") format("ttf"); }

@font-face {
  font-family: 'opens-sans';
  src: url("../fonts/open-sans/open-sans.eot") format("eot"); }

@font-face {
  font-family: 'helvetica-bold';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Bold.woff") format("woff"); }

@font-face {
  font-family: 'helvetica-bold';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Bold.woff2") format("woff2"); }

@font-face {
  font-family: 'helvetica-bold';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Bold.ttf") format("ttf"); }

@font-face {
  font-family: 'helvetica-bold';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Bold.eot") format("eot"); }

@font-face {
  font-family: 'helvetica-roman';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Roman.woff") format("woff"); }

@font-face {
  font-family: 'helvetica-roman';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Roman.woff2") format("woff2"); }

@font-face {
  font-family: 'helvetica-roman';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Roman.ttf") format("ttf"); }

@font-face {
  font-family: 'helvetica-roman';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Roman.eot") format("eot"); }

@font-face {
  font-family: 'helvetica-light';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Light.woff") format("woff"); }

@font-face {
  font-family: 'helvetica-light';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Light.woff2") format("woff2"); }

@font-face {
  font-family: 'helvetica-light';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Light.ttf") format("ttf"); }

@font-face {
  font-family: 'helvetica-light';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Light.eot") format("eot"); }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 20px; }

body {
  font-family: 'helvetica-roman';
  background-color: black;
  font-weight: 500; }

div {
  display: block; }

.container {
  margin: 0 24px; }

.grid {
  display: grid; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

p {
  margin: 0; }

.header {
  padding: 0 24px;
  padding-top: 20px;
  margin: 0;
  font-family: 'helvetica-roman';
  font-size: 48px;
  color: white;
  font-weight: 500; }

.form-login {
  background-color: grey;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 10;
  position: fixed;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.form-login__container {
  max-width: 400px;
  max-height: 310px;
  background: black;
  border-radius: 15px;
  padding: 28px 32px;
  margin: 0 40px; }
  .form-login__container input {
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'helvetica-roman';
    font-family: 500;
    padding: 10px 7px;
    border: 2px solid #5904DC;
    width: 95%;
    margin-bottom: 13px; }
  .form-login__container .forgot {
    cursor: pointer;
    color: white;
    margin-bottom: 76px;
    margin-left: 10px;
    font-size: .8rem;
    font-family: 'helvetica-roman';
    font-family: 500;
    width: 140px; }
  .form-login__container .form-login__button {
    width: 40%;
    margin: 0 auto;
    display: block;
    border: none;
    cursor: pointer;
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(red), to(blue));
    background: -o-linear-gradient(left, red, blue);
    background: linear-gradient(to right, red, blue);
    outline: none; }

.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.navbar-fixed {
  position: fixed;
  left: 20px;
  top: 30vmin;
  z-index: 999; }
  .navbar-fixed li {
    list-style-type: none; }
  .navbar-fixed a:hover {
    color: white; }

.navbar-fixed__background {
  background: url("../img/Path.png");
  height: 26px;
  width: 6px;
  margin-left: 12px; }

.line {
  color: white;
  font-size: 20px; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.navbar-fixed a {
  text-decoration: none;
  color: grey;
  font-size: 20px; }

.active a {
  color: white; }

.active .circle {
  background: white;
  border: 1px solid white; }

.active .circle-border {
  border: 1px solid white; }

.circle {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 50%; }

.circle-border {
  background: black;
  border-radius: 50%;
  border: 1px solid grey;
  padding: 0 5px;
  margin-right: 7px; }

#nav {
  position: fixed;
  top: 0;
  right: 50%; }

section {
  min-height: 700px;
  background-color: black;
  padding: 0;
  margin: 0; }

.add {
  display: block; }

.del {
  display: none; }

header {
  height: 10vmin; }

.home {
  max-height: 1080px;
  max-width: 1920px;
  height: 100vmin;
  margin: 0 auto;
  background-image: url("../img/bg-1.png");
  display: block;
  margin-bottom: 2vh; }

.home__grid {
  grid-template-columns: 1fr 1fr;
  height: 12vmin;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.logo__text {
  color: white;
  margin-left: 12px;
  font-family: 'helvetica-bold'; }
  .logo__text h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700; }
  .logo__text p {
    color: #b0b0b0;
    font-family: 'helvetica-roman';
    font-size: 1rem; }
    .logo__text p:last-child {
      margin-top: 5%; }

.logo__img img {
  height: 14vmin; }

.navigation {
  justify-self: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

li {
  list-style-type: none;
  margin-right: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.navigation__icon {
  position: relative;
  color: black;
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50%; }
  .navigation__icon i {
    text-align: center;
    text-decoration: none;
    width: 40px;
    display: inline-block;
    color: black;
    font-size: 1rem;
    margin-top: 25%; }
  .navigation__icon:hover {
    background: red;
    cursor: pointer; }
    .navigation__icon:hover i {
      color: white; }

.navigation__login, .navigation__register {
  padding: 8px 30px;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  font-family: 'helvetica-roman';
  font-size: 1rem;
  font-weight: 300; }
  .navigation__login:hover, .navigation__register:hover {
    cursor: pointer;
    border: 2px solid red; }

.navigation__register {
  padding: 8px 10px; }

.main__grid {
  grid-template-columns: 15% 69% 16%; }

.main-video {
  margin-top: 7vmin; }

.main-position, .main-container {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0;
  padding: 0; }

.main-position-video {
  z-index: 1; }
  .main-position-video video {
    height: 46vh;
    width: 47vw;
    border-radius: 20px;
    background-color: black; }

.main-position-cat {
  position: absolute;
  z-index: 0;
  margin-left: 18vw;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s; }

.main-position__cat {
  width: 17vmin;
  height: auto; }

.main-form__email_subs {
  display: none; }

.main-cat {
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  -o-transition: transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s; }

.main-cat-down {
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  -o-transition: transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s; }

.main-position-arrow {
  position: absolute; }
  .main-position-arrow img {
    margin-left: 74vw;
    position: absolute;
    top: 59vmin; }

.main-center__text {
  color: white;
  font-family: 'helvetica-roman';
  font-size: 1rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: block;
  margin-top: 2rem; }

.main-form__button {
  margin-left: 2vw; }
  .main-form__button:hover {
    cursor: pointer; }

.main-form {
  color: white;
  margin: 2vh 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .main-form span {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    margin-right: 12px;
    height: 100%;
    display: block; }

.main-form__email {
  position: relative;
  display: inline-block;
  margin: 0; }

.main-form__input {
  border: 2px solid #ddd;
  padding: 10px 0 10px 10px;
  font-size: 2vh;
  line-height: 2vh;
  border-radius: 10px;
  padding-right: 19%;
  color: #ddd;
  outline: none;
  background-color: transparent; }

.main-form__input_button {
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
  width: 30px;
  cursor: pointer; }
  .main-form__input_button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-left: 2px solid #dde;
    height: 100%;
    width: 30px; }
  .main-form__input_button::after {
    content: "";
    position: absolute;
    cursor: pointer;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    color: white;
    border-right: 1px solid #dde;
    border-bottom: 1px solid #dde;
    height: 20px;
    width: 20px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.main-form__text {
  font-family: 'helvetica-roman';
  font-size: 1.2rem;
  display: block;
  margin-right: 2%; }

.main-time {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 34px;
  color: white;
  margin-top: 20vmin;
  font-family: 'helvetica-roman';
  font-weight: 500;
  text-align: right; }
  .main-time p {
    font-size: 1rem; }
  .main-time .main-date {
    font-size: .5rem;
    margin: 20px 0; }
  .main-time span {
    font-size: 1rem; }

.main-time__button {
  margin-top: 10px;
  padding: 2px;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, from(red), to(blue));
  background: -o-linear-gradient(left, red, blue);
  background: linear-gradient(to right, red, blue);
  cursor: pointer; }
  .main-time__button:hover p {
    background: -webkit-gradient(linear, left top, right top, from(red), to(blue));
    background: -o-linear-gradient(left, red, blue);
    background: linear-gradient(to right, red, blue); }
  .main-time__button p {
    padding: 10px 40px;
    background-color: black;
    border-radius: 8px; }

.ticker {
  overflow: hidden;
  height: 9vh;
  max-height: 100px; }

.ticker-block {
  position: relative; }

.ticker-top, .ticker-bottom {
  height: 2px;
  width: auto;
  background: -webkit-gradient(linear, left top, right top, from(red), to(blue));
  background: -o-linear-gradient(left, red, blue);
  background: linear-gradient(to right, red, blue); }

.ticker-container {
  color: white;
  text-align: center;
  height: auto; }
  .ticker-container:nth-child(2n) {
    color: red; }
  .ticker-container::after {
    content: '';
    height: 50px;
    width: 1px;
    margin: 0 10px;
    background: red; }

.ticker-container__text {
  margin-right: 1rem;
  font-family: 'helvetica-roman';
  color: white; }
  .ticker-container__text p {
    margin-top: 5px; }
    .ticker-container__text p:first-child {
      font-size: .7rem; }
    .ticker-container__text p:nth-child(2) {
      font-family: "helvetica-bold";
      font-size: .7rem; }
    .ticker-container__text p:nth-child(3) {
      font-size: .6rem; }

.ticker-container__procent {
  font-size: 1rem;
  color: #01BF2B; }

.owl-dots {
  display: none; }

.news__background {
  background-image: url("../img/bg.png");
  color: white;
  height: 490px; }

.news-text {
  width: 80%;
  margin: 70px auto 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 70px; }

.news-text__container h3 {
  font-family: 'helvetica-roman';
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 25px; }

.news-text__container p {
  font-family: 'helvetica-light';
  font-size: .9rem;
  font-weight: 300;
  max-width: 500px; }

.news-title {
  background-color: black;
  margin: 100px 0; }

.news-container {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.news-title__picture {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 240px; }
  .news-title__picture h1 {
    font-family: 'arial-regular';
    font-weight: lighter;
    color: #00CF23;
    font-size: 300px;
    margin: 0; }

.news-title__p {
  letter-spacing: 5px;
  color: #00CF23;
  text-align: center;
  font-family: 'arial-regular';
  font-weight: lighter;
  font-size: 40px;
  margin-bottom: 50px; }

.news-title__h, .news-title__p {
  display: block; }

.advantages {
  background-color: black; }

.advantages-header {
  margin: 0 24px; }

.advantages-container {
  grid-template-columns: 1fr 1px 1fr;
  width: 80%;
  margin: 0 auto; }

.advantages-left, .advantages-right {
  margin-top: 84px;
  text-align: center;
  color: white; }

.advantages-left::after {
  content: '';
  height: 100%;
  width: 1px;
  display: block; }

.advantages-center {
  height: 100%; }
  .advantages-center .advantages-center__line {
    height: 100%;
    background: white; }

.advantages-center__cat img {
  height: 20%;
  width: auto; }

.advantages-left_header h3, .advantages-right_header h3 {
  color: white;
  font-family: 'helvetica-roman';
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 37px; }

.advantages-block {
  margin-top: 50px; }
  .advantages-block h3 {
    font-family: 'helvetica-roman';
    font-weight: 500;
    font-size: 1rem;
    width: 60%;
    margin: 0 auto;
    max-width: 282px; }
  .advantages-block p {
    color: #dcdcdc;
    font-family: 'helvetica-light';
    font-weight: 300;
    font-size: .9rem;
    color: #d4d4d4;
    width: 80%;
    max-width: 402px;
    margin: 10px auto; }
  .advantages-block img {
    margin-bottom: 20px; }
  .advantages-block:last-child p {
    margin-bottom: 41px; }

.problem {
  background-color: #1A1E26; }

.problem-container {
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  margin-top: 10vh;
  grid-gap: 100px; }

.problem-block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .problem-block:last-child .problem-block__h2 {
    color: #2DC471; }

.problem-block__img {
  width: 50%; }

.problem-block__h2 {
  font-family: 'helvetica-roman';
  font-weight: 500;
  font-size: 1.7rem;
  text-align: center;
  color: #F75534;
  margin: 20px 0 10px; }

.problem-block__text {
  font-family: 'helvetica-roman';
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  color: white;
  margin-bottom: 10vh;
  max-width: 838px; }

.token {
  padding: 50px 0;
  background-color: #1A1E26; }

.token-container {
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.token-title {
  color: white; }
  .token-title h2 {
    font-size: 1.5rem;
    font-family: 'helvetica-roman';
    margin-bottom: 10px;
    font-weight: 500; }
  .token-title p {
    font-family: 'helvetica-light';
    font-size: 1.2rem;
    width: 100%;
    max-width: 367px;
    color: #d4d4d4;
    font-weight: 300; }

.token-img {
  color: white;
  position: relative;
  display: block; }
  .token-img img {
    position: relative;
    width: 100%;
    min-width: 424px; }

.token-img__text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 15%; }
  .token-img__text p {
    padding-bottom: 10%;
    font-family: 'helvetica-roman';
    font-size: 1.2rem;
    font-weight: 500; }
    .token-img__text p:nth-child(1) {
      color: orange; }
    .token-img__text p:nth-child(2) {
      color: green; }
    .token-img__text p:nth-child(3) {
      color: red; }
    .token-img__text p:nth-child(4) {
      color: #11D39A; }
    .token-img__text p:nth-child(5) {
      color: #8311D3; }

.token-describe {
  position: absolute;
  margin-left: 51%;
  margin-top: 2.5%; }
  .token-describe p {
    color: white;
    padding-bottom: 5%; }

.token-describe__text {
  font-family: 'helvetica-roman';
  font-size: 1.01rem;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }
  .token-describe__text p:nth-child(2) {
    margin-left: 25px; }
  .token-describe__text p:nth-child(3) {
    margin-left: 45px; }
  .token-describe__text p:nth-child(4) {
    margin-left: 60px; }
  .token-describe__text p:nth-child(5) {
    margin-left: 70px; }
  .token-describe__text p:nth-child(6) {
    margin-left: 70px; }
  .token-describe__text p:nth-child(7) {
    margin-left: 60px; }
  .token-describe__text p:nth-child(8) {
    margin-left: 45px; }
  .token-describe__text p:nth-child(9) {
    margin-left: 25px; }

.token-describe__numbers {
  font-family: 'helvetica-light';
  font-size: 1rem; }

.token-describe__numbers_red {
  color: #f75534;
  font-family: 'helvetica-roman'; }

.token-describe__numbers_green {
  color: #2DC471;
  font-family: 'helvetica-roman'; }

.timeline-grid {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 80%;
  margin: 70px auto;
  grid-row-gap: 150px; }
  .timeline-grid div {
    color: white;
    text-align: center;
    z-index: 1; }
    .timeline-grid div h2 {
      font-family: 'helvetica-light';
      font-size: 1.3rem;
      font-weight: 300;
      padding: 9% 8%;
      border-radius: 8px; }
    .timeline-grid div p {
      margin-top: 10px;
      font-family: 'helvetica-light';
      font-size: .9rem;
      font-weight: 300; }
  .timeline-grid .timeline-block_white h2 {
    color: black;
    background-color: white; }
    .timeline-grid .timeline-block_white h2:hover {
      cursor: pointer;
      -webkit-box-shadow: 0px 5px 20px -4px white;
              box-shadow: 0px 5px 20px -4px white; }
  .timeline-grid .timeline-block_black h2 {
    border: 4px solid white;
    background-color: black; }
    .timeline-grid .timeline-block_black h2:hover {
      cursor: pointer;
      -webkit-box-shadow: 0px 5px 20px -4px white;
              box-shadow: 0px 5px 20px -4px white; }
  .timeline-grid .timeline-block_color {
    background: -webkit-gradient(linear, left top, right top, from(red), to(blue));
    background: -o-linear-gradient(left, red, blue);
    background: linear-gradient(to right, red, blue);
    padding: 4px;
    border-radius: 8px; }
    .timeline-grid .timeline-block_color h2 {
      background: black;
      border-radius: 8px; }

.timeline-block__one {
  grid-column: 1 / 2; }

.timeline-block__two {
  grid-column: 3 / 4; }

.timeline-block__three {
  grid-column: 5; }

.timeline-block__four {
  grid-column: 2 / 3; }

.timeline-block__five {
  grid-column: 4 / 5; }

.timeline-block__six {
  grid-column: 1 / 2; }

.timeline-block__seven {
  grid-column: 3 / 4; }

.timeline-block__eight {
  grid-column: 5; }

.timeline-block__nine {
  grid-column: 3 / 4;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.timeline-image {
  margin-left: 20px; }

.emission {
  background-color: #1A1E26; }

.emission-container {
  padding-top: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 44px; }

.emission-img {
  position: relative; }
  .emission-img img {
    position: relative;
    display: inline;
    width: 36vw; }
  .emission-img:last-child p {
    padding-bottom: 7%;
    font-family: 'helvetica-roman';
    font-weight: 500;
    font-size: 1.2rem; }

.emission-img__text {
  position: absolute;
  top: 18%;
  text-align: center;
  color: white;
  width: 100%; }
  .emission-img__text p {
    padding-bottom: 7%;
    font-family: 'helvetica-roman';
    font-weight: 500;
    font-size: 1.1rem; }
    .emission-img__text p:nth-child(1) {
      color: #C30707; }
    .emission-img__text p:nth-child(2) {
      color: #C30883; }
    .emission-img__text p:nth-child(3) {
      color: #4A08C3; }
    .emission-img__text p:nth-child(4) {
      color: #08C395; }
    .emission-img__text p:nth-child(5) {
      color: #08C357; }
    .emission-img__text p:nth-child(6) {
      color: #0887C3; }

.team {
  background-color: #050831; }

.team-header {
  text-align: center; }
  .team-header img {
    height: 300px; }
  .team-header h2 {
    font-family: 'helvetica-roman';
    font-size: 3rem;
    font-weight: 500; }

.team-header-container {
  width: 100vw;
  margin-left: 25vw; }

.team-container {
  padding: 70px 0 100px 0;
  grid-template-columns: 1fr 1fr;
  grid-gap: 84px;
  grid-row: 20px;
  width: 80%;
  margin: 0 auto;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.team-block {
  grid-template-columns: 200px 1fr;
  grid-gap: 20px;
  color: white; }

.team-block-img {
  justify-self: center; }

.team-block__cat {
  width: 400px; }

.team-block__cat {
  height: 19vw; }

.team-block__img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 1.5s;
  transition: -webkit-filter 1.5s;
  -o-transition: filter 1.5s;
  transition: filter 1.5s;
  transition: filter 1.5s, -webkit-filter 1.5s; }
  .team-block__img:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0); }

.team-block__text h2 {
  padding-bottom: 10px;
  font-family: 'helvetica-roman';
  font-size: 1.5rem;
  font-weight: 500; }

.team-block__text p {
  font-family: 'helvetica-light';
  font-size: 1rem; }

.footer-container {
  padding: 50px 0 62px;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: 1fr 15% 1fr;
  grid-gap: 50px;
  color: white; }

.footer-forms_flex {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.footer-forms {
  font-family: 'helvetica-roman';
  font-size: 20px; }
  .footer-forms p {
    display: inline-block;
    margin-bottom: 30px; }
  .footer-forms input {
    background-color: black;
    border: none;
    outline: none;
    border-bottom: 1px solid #949494;
    padding-top: 30px;
    color: white;
    width: 80%; }

.footer-forms-text {
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px; }

.footer-forms__text {
  text-align: center;
  padding: 10px 10px;
  border-radius: 8px;
  background: #01BF2B; }

.footer-forms__textarea {
  outline: none;
  background-attachment: local;
  background-image: -o-linear-gradient(left, black 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-repeating-linear-gradient(white, white 20px, #ccc 40px, #ccc 40px, white 20px);
  background-image: linear-gradient(to right, black 10px, transparent 10px), linear-gradient(to left, white 10px, transparent 10px), repeating-linear-gradient(white, white 20px, #ccc 40px, #ccc 40px, white 20px);
  line-height: 31px;
  padding: 8px 10px;
  border: none; }

#footer-forms__submit {
  background-color: white;
  border: none;
  display: block;
  width: 150px;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  margin: 0 auto;
  padding: 13px 33px;
  font-family: 'opens-sans';
  font-size: 25px; }

.footer-icon__text li {
  margin-top: 30px; }

.footer-icon__text a {
  text-decoration: none;
  color: white;
  font-family: 'arial-regular';
  font-size: 20px; }

#footer-forms__text_large {
  width: 75%; }

.footer-forms__textarea {
  width: 77%;
  height: 150px;
  color: #333;
  padding: 0;
  line-height: 36px;
  resize: none;
  background: -o-repeating-linear-gradient(top, #999 0 1px, transparent 2px 37px) 0 24px/100% content-box no-repeat;
  background: repeating-linear-gradient(to bottom, #999 0 1px, transparent 2px 37px) 0 24px/100% content-box no-repeat;
  color: white; }

.footer-txt {
  font-family: 'arial-regular';
  font-size: 20px; }
  .footer-txt p {
    padding-bottom: 16px; }
    .footer-txt p:last-child {
      font-size: 18px; }

/*==========  Desktop First  ==========*/
@media only screen and (max-height: 980px) {
  .main-position-arrow img {
    top: 57vmin; } }

@media only screen and (max-height: 880px) {
  .main-position-arrow img {
    top: 56vmin; }
  .main-center__text {
    margin-top: 1rem;
    font-size: 0.9rem; } }

@media only screen and (max-height: 780px) {
  .home__grid {
    padding-top: 20px; } }

@media only screen and (max-height: 720px) {
  .main-position-arrow img {
    top: 54vmin;
    height: 80px; }
  .main-center__text {
    margin-top: .5rem;
    font-size: 0.8rem; }
  .logo__text h1 {
    font-size: 2.5rem; }
  .main__grid {
    height: 77vmin; }
  .ticker {
    height: 11vmin; }
  .main-form__email:after {
    height: 15px;
    width: 15px; }
  .main-form__email:before {
    height: 95%; }
  .ticker-container__text p {
    margin-top: 3px; }
  .main-position-cat {
    margin-left: 18vw; }
  .main-form__email:before {
    right: -11px;
    height: 87%;
    top: 2px; } }

@media only screen and (max-height: 620px) {
  .main-position-arrow img {
    height: 70px; }
  .main-center__text {
    font-size: 0.85rem; }
  .main-form__text {
    font-size: 1rem; }
  .main-form__email:before {
    height: 95%; } }

@media only screen and (max-height: 580px) {
  .main-position-arrow img {
    height: 70px; }
  .navbar-fixed__background {
    height: 18px; }
  .logo__text p {
    font-size: 0.9rem; }
    .logo__text p:last-child {
      margin-top: 3%; }
  .logo__text h1 {
    font-size: 2rem; }
  .navigation__icon {
    width: 35px;
    height: 35px; }
    .navigation__icon i {
      margin-top: 23%;
      font-size: 0.9rem;
      width: 35px; } }

@media only screen and (max-height: 520px) {
  .main-position-arrow img {
    height: 55px; }
  .main-center__text {
    font-size: 0.8rem; }
  .home__grid {
    padding-top: 10px; }
  .main-position-video video {
    height: 45vh; }
  .main-form__email:after {
    height: 10px;
    width: 10px;
    right: 14px; }
  .main-form__email:before {
    top: 4px;
    height: 85%;
    width: 30px; }
  .main-form__input {
    border-radius: 7px; }
  .ticker-container__procent {
    font-size: 1rem; }
  .navbar-fixed {
    top: 25vmin; }
    .navbar-fixed a {
      font-size: 18px; }
  .main-form__text {
    font-size: 0.9rem; }
  .main-time__button p {
    padding: 5px 20px; }
  .main-time p {
    font-size: 0.85rem; }
  .main-position__cat {
    width: 13vmin; }
  .main-position-cat {
    margin-left: 33vmin; } }

@media only screen and (max-height: 480px) {
  .navbar-fixed a {
    font-size: 15px; }
  .circle {
    height: 10px;
    width: 13px;
    margin-bottom: 5px; }
  .circle-border {
    height: 20px; }
  .navigation__login, .navigation__register {
    font-size: 0.8rem; }
  .main-center__text {
    margin-top: 0.3rem; }
  .main-form__input {
    font-size: 2.2vh; }
  .main-form__button p {
    font-size: 0.9rem;
    margin-left: 2px; }
  .main-form__button img {
    height: 20px; }
  .ticker {
    height: 11vmin; }
  .main__grid {
    height: 77vmin; }
  .main-time p {
    font-size: 0.6rem; }
  .main-time span {
    font-size: 0.8rem; } }

@media only screen and (max-height: 420px) {
  .main-position-arrow img {
    height: 45px; }
  .main-center__text {
    font-size: 0.7rem;
    margin-top: 0.1rem; }
  .logo__text h1 {
    font-size: 1rem; }
  .navbar-fixed__background {
    height: 13px; }
  .navigation__icon {
    height: 25px;
    width: 25px; }
    .navigation__icon i {
      font-size: 0.7rem;
      width: 25px; }
  .main__grid {
    height: 77vmin; }
  .ticker-container p:nth-child(2) {
    font-size: 0.7rem; }
  .logo__text p {
    font-size: 0.7rem; }
    .logo__text p:last-child {
      margin-top: 2%; }
  .circle {
    height: 5px;
    width: 8px;
    margin-bottom: 10px; }
  .circle-border {
    height: 15px; } }

@media only screen and (max-height: 380px) {
  .main-position-arrow img {
    height: 40px; }
  .ticker-top, .ticker-bottom {
    height: 1px; }
  .main-center__text {
    font-size: 0.6rem; }
  .main-form__text {
    font-size: 0.7rem; }
  .main-form__email:after {
    width: 7px;
    height: 7px; }
  .main__grid {
    height: 77vmin; }
  .ticker-container p {
    margin-top: 1px; } }

@media only screen and (max-width: 1820px) {
  .ticker-container:after {
    margin: 0 4px; } }

@media only screen and (max-width: 1720px) {
  .main-position-cat {
    margin-left: 19vw; } }

@media only screen and (max-width: 1620px) {
  .main-center__text {
    width: 90%; }
  .emission-img:last-child p {
    font-size: 1.1rem; }
  .token-describe p {
    padding-bottom: 4%; }
  .team-header-container {
    margin-left: 22vw; } }

@media only screen and (max-width: 1520px) {
  .main-position-cat {
    margin-left: 17vw; }
    .main-position-cat:last-child p {
      font-size: 1rem; }
  .main-time span {
    font-size: 0.9rem; } }

@media only screen and (max-width: 1420px) {
  .main-position-cat {
    margin-left: 17vw; }
  .emission-img:last-child p {
    font-size: .9rem; }
  .main-center__text {
    width: 95%; }
  .token-describe__text {
    margin-left: 10px; }
  .token-container {
    grid-gap: 10px; }
  .footer-txt {
    margin-left: 30px; }
  .main-time span {
    font-size: 0.8rem; } }

@media only screen and (max-width: 1320px) {
  .main-position-cat {
    margin-left: 17vw; }
  .main-center__text {
    width: 100%;
    margin-top: 1rem; }
  .timeline-grid {
    grid-row-gap: 50px; }
  .team-header img {
    height: 280px; }
  .team-header-container {
    margin-left: 20vw; }
  .team-block__cat {
    height: 26vw; } }

@media only screen and (max-width: 1280px) {
  .token-describe__text {
    margin-left: 30px; }
  .main-center__text {
    margin-top: 0.9rem; }
  .main-time p {
    font-size: 0.9rem; }
  .main-time span {
    font-size: .7rem; }
  .ticker-container:after {
    margin: 0 15px; }
  .main-position-cat {
    margin-left: 18vw; } }

@media only screen and (max-width: 1180px) {
  .emission-img:last-child p {
    font-size: 0.8rem; }
  .token-container {
    width: 90%; }
  .token-describe__text {
    margin-left: 90px; }
  .token-title p {
    font-size: 1rem; }
  .team-block__text p {
    font-size: 0.8rem; }
  .footer-txt {
    font-size: 15px; }
  .footer-container {
    grid-template-columns: 1fr 1fr; }
  .main-time p {
    font-size: 0.8rem; }
  .main-time span {
    font-size: 0.7rem; } }

@media only screen and (max-width: 1080px) {
  .main-time__button p {
    padding: 10px 20px; }
  .main-time p {
    font-size: 0.7rem; }
  .main-time span {
    font-size: 0.6rem; }
  .main-position-cat {
    margin-left: 14vw; }
  .navbar-fixed a {
    font-size: 15px; }
  .news-text__container h3 {
    font-size: 0.9rem; }
  .news-text__container p {
    font-size: 0.8rem; }
  .problem-block__text {
    font-size: 0.8rem; }
  .timeline-grid div p {
    font-size: 0.7rem; }
  .emission-img:last-child p {
    padding-bottom: 6%; }
  .token-describe__text p {
    font-size: .9rem;
    padding-bottom: 5%; }
  .token-title h2 {
    font-size: 1.2rem; }
  .token-title p {
    font-size: 0.9rem; }
  .team-block__text h2 {
    font-size: 1.2rem; }
  .team-block__text p {
    font-size: 0.7rem; }
  #footer-forms__submit {
    font-size: 20px; } }

@media only screen and (max-width: 980px) {
  .main-center__text {
    margin-top: 0.1rem; }
  .main-position__cat {
    width: 10vw; }
  .logo__text p {
    font-size: 0.9rem; }
  .logo__text h1 {
    font-size: 2rem; }
  li {
    margin-right: 10px; }
  .main-center__text {
    font-size: 0.7rem; }
  .navigation__login, .navigation__register {
    font-size: 0.8rem; }
  .main__grid {
    grid-template-columns: 15% 63% 22%;
    height: 79vmin; }
  .main-time span {
    font-size: 0.8rem; }
  .main-position-arrow img {
    padding-left: 71vw; }
  .ticker-container:after {
    margin: 0 6px; }
  .ticker-container__procent {
    font-size: .9rem; }
  .news-text__container p {
    font-size: 0.6rem; }
  .news-text__container h3 {
    font-size: 0.7rem;
    margin-bottom: 15px; }
  .news__background {
    height: auto;
    padding: 20px 0; }
  .emission-img:last-child p {
    font-size: 0.9rem; }
  .emission-img img {
    width: 46vw; }
  .token-img img {
    min-width: 394px; }
  .token-describe__text p {
    padding-bottom: 4%;
    font-size: 0.85rem; }
  .token-img__text p {
    font-size: 1rem; }
  .team-block {
    grid-gap: 10px; }
  .team-block__text h2 {
    font-size: 1rem; }
  .team-header img {
    height: 200px; }
  .team-header-container {
    margin-left: 13vw; }
  .main-position-arrow img {
    height: 60px;
    top: 57vmin; }
  .header {
    font-size: 38px; }
  .timeline-grid .timeline-block_black h2 {
    border: 2px solid white; }
  .navigation__icon {
    height: 30px;
    width: 30px; }
    .navigation__icon i {
      margin-top: 26%;
      width: 30px;
      font-size: 0.8rem; }
  .advantages-block h3 {
    font-size: 0.9rem; }
  .advantages-block p {
    font-size: 0.8rem; }
  .ticker-container__text p:nth-child(1) {
    font-size: .7rem; }
  .ticker-container__text p:nth-child(2) {
    font-size: .7rem; }
  .ticker {
    height: 9vh; }
  .ticker-top, .ticker-bottom {
    height: 1px; } }

@media only screen and (max-width: 880px) {
  .main-form__text {
    font-size: 1rem; }
  .main__grid {
    grid-template-columns: 15% 63% 24%; }
  .news-text {
    grid-gap: 30px; }
  .advantages-block h3 {
    font-size: 0.8rem; }
  .advantages-block p {
    font-size: 0.7rem; }
  .timeline-grid div h2 {
    font-size: 1rem; }
  .timeline-grid div p {
    font-size: 0.6rem; }
  .timeline-grid {
    grid-row-gap: 50px; }
  .timeline-image {
    width: 90px; }
  .emission-img img {
    width: 50vw; }
  .token-container {
    grid-template-columns: 1fr 1fr; }
  .token-describe {
    position: relative;
    margin: 0; }
  .token-describe__text {
    margin: 0; }
  .main-form__email:before {
    right: -8px; }
  .token-describe__text p:nth-child(2) {
    margin-left: 0; }
  .token-describe__text p:nth-child(3) {
    margin-left: 0; }
  .token-describe__text p:nth-child(4) {
    margin-left: 0; }
  .token-describe__text p:nth-child(5) {
    margin-left: 0; }
  .token-describe__text p:nth-child(6) {
    margin-left: 0; }
  .token-describe__text p:nth-child(7) {
    margin-left: 0; }
  .token-describe__text p:nth-child(8) {
    margin-left: 0; }
  .token-describe__text p:nth-child(9) {
    margin-left: 0; }
  .team-container {
    grid-template-columns: 1fr; }
  .team-header-container {
    margin-left: 7vw; }
  .team-block-cat {
    display: none; }
  .team-block__text p {
    width: 75%; }
  .news-title__picture h1 {
    font-size: 200px; } }

@media only screen and (max-width: 780px) {
  .news-title__image img {
    width: 85%; }
  .news-title__p {
    font-size: 27px; }
  .problem-container {
    grid-template-columns: 1fr; }
  .timeline-grid div p {
    font-size: 0.5rem; }
  .emission-img img {
    width: 59vw; }
  .token-title p {
    font-size: 0.8rem; }
  .token-describe__text p {
    padding-bottom: 2%; }
  .token-describe {
    grid-column: 1 / 3; }
  .team-header-container {
    margin-left: 0vw; }
  .main-position-cat {
    display: none; }
  .main-position-arrow {
    display: none; }
  .home .navigation__icon {
    display: none; }
  .logo__text p {
    font-size: 0.7rem; }
  .news-text {
    grid-template-columns: 1fr; }
  .ticker-container__text p:nth-child(1) {
    font-size: .5rem; }
  .ticker-container__text p:nth-child(2) {
    font-size: .5rem; }
  .ticker-container__text p:nth-child(3) {
    font-size: .4rem; }
  .main-time {
    display: none; }
  .main__grid {
    grid-template-columns: 10% 80% 10%; }
  .main-center__text {
    width: 85%;
    font-size: 0.6rem; }
  .ticker-container__procent {
    font-size: 0.9rem; } }

@media only screen and (max-width: 680px) {
  .navbar-fixed__background {
    margin-left: 8px; }
  .logo__text p {
    font-size: 0.6rem; }
  .logo__img img {
    height: 14vw; }
  .main__grid {
    height: 79.5vh; }
  .ticker-container__text {
    margin-right: 0.5rem; }
  .main-form__text {
    font-size: 0.9rem; }
  .main-form__input {
    padding: 3%;
    font-size: 1.8vh; }
  .main-form__email:after {
    height: 10px;
    width: 10px; }
  .main-form__button img {
    height: 20px; }
  .main-form__button p {
    font-size: 0.9rem; }
  .news-title__p {
    font-size: 25px; }
  .advantages-container {
    grid-template-columns: 1fr; }
  .emission-img img {
    width: 68vw; }
  .timeline-grid div h2 {
    font-size: 0.9rem; }
  .token-title h2 {
    font-size: 1rem; }
  .token-img img {
    min-width: 304px; }
  .token-img__text p {
    font-size: 0.9rem; }
  .footer-container {
    grid-template-columns: 1fr; }
  .footer-icon {
    grid-column: 1 / 2;
    margin-left: 30px; }
  .circle {
    height: 5px;
    width: 8px;
    margin-bottom: 10px; }
  .circle-border {
    height: 12px; } }

@media only screen and (max-width: 580px) {
  .news-title__picture h1 {
    font-size: 190px; }
  .news-title__p {
    font-size: 22px; }
  .header {
    font-size: 30px; }
  .timeline-image {
    width: 80px;
    margin-left: 10px; }
  .emission-img:last-child p {
    padding-bottom: 6%;
    font-size: 0.8rem; }
  .token-container {
    grid-template-columns: 1fr; }
  .token-title {
    grid-column: 1/3;
    grid-row: 2 / 3; }
  .token-title p {
    padding-bottom: 30px; }
  .token-img__text p {
    font-size: 1.2rem; }
  .team-header img {
    height: 140px; }
  .team-header h2 {
    font-size: 2rem; } }

@media only screen and (max-width: 480px) {
  .navbar {
    display: none; }
  .navigation__login, .navigation__register {
    padding: 8px 10px;
    font-size: 0.6rem; }
  .logo__img img {
    height: 18vw; }
  .main__grid {
    height: 82.5vh;
    grid-template-columns: 0% 100% 0%; }
  .main-position-video video {
    width: 100vw; }
  .news-title__image {
    display: none; }
  .news-title__p {
    font-size: 18px; }
  .advantages-block p {
    width: 100%; }
  .advantages-block h3 {
    width: 100%; }
  .problem-block__text {
    margin-bottom: 0; }
  .timeline-image {
    display: none; }
  .timeline-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; }
  .timeline-block__one {
    grid-column: 1; }
  .timeline-block__two {
    grid-column: 2; }
  .timeline-block__three {
    grid-column: 1; }
  .timeline-block__four {
    grid-column: 2; }
  .timeline-block__five {
    grid-column: 1; }
  .timeline-block__six {
    grid-column: 2; }
  .timeline-block__seven {
    grid-column: 1; }
  .timeline-block__eight {
    grid-column: 2; }
  .timeline-block__nine {
    grid-column: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .emission-img img {
    width: 86vw; }
  .token-img__text p {
    font-size: 1.1rem; }
  .footer-icon, .footer-txt {
    margin-left: 0; }
  .logo__text h1 {
    font-size: 1.7rem; }
  .advantages-left_header h3, .advantages-right_header h3 {
    font-size: 1.5rem; }
  .footer-txt p:last-child {
    font-size: 2.5vw; } }

@media only screen and (max-width: 380px) {
  .news-title__picture h1 {
    font-size: 136px; }
  .footer-forms input {
    width: 70%; }
  .footer-forms p {
    font-size: 15px; }
  #footer-forms__submit {
    width: 100px;
    font-size: 15px; }
  .footer-icon__text a {
    font-size: 17px; }
  .team-block {
    grid-template-columns: 1fr; }
  .team-header img {
    display: none; }
  .team-block__img {
    margin: 0 auto; }
  .team-block__text {
    text-align: center; }
    .team-block__text p {
      width: 100%; }
  .footer-forms input {
    width: 80%; }
  .footer-container {
    padding: 0; }
  .header {
    padding: 10px 5px;
    font-size: 25px; }
  .token-img__text p {
    font-size: 0.7rem; }
  .team-header h2 {
    margin-top: 20px;
    font-size: 1.8rem; }
  .token-img img {
    margin-top: 20px;
    min-width: 270px; }
  .token-img__text {
    top: 20%; }
  .emission {
    min-height: 500px; }
  .emission-img img {
    width: 100vw; }
  .emission-img:last-child p {
    padding-bottom: 6.6%;
    font-size: 0.7rem; }
  .problem {
    padding: 20px 0; }
  .problem-block__h2 {
    font-size: 1.5rem; }
  .problem-block__text {
    font-size: 0.7rem; }
  .advantages-block p {
    font-size: 0.6rem; }
  .advantages-block h3 {
    font-size: 0.7rem; }
  .news-title {
    margin: 50px 0; }
  .news-title__image img {
    display: none; }
  .news-title__picture {
    height: 130px; }
  .news-title__p {
    font-size: 17px; }
  .main-position-video video {
    margin-top: 10vw; }
  .logo__text h1 {
    font-size: 1.4rem; }
  .logo__text p {
    font-size: 0.5rem; }
  .navigation__login, .navigation__register {
    font-size: 0.5rem; }
  .main-form__text {
    font-size: 0.7rem; }
  .main-form__button p {
    font-size: 0.7rem; }
  .advantages-left, .advantages-right {
    margin-top: 44px; }
  .token-describe__text p {
    font-size: 0.75rem; }
  .container {
    margin: 0 4px; } }

@media only screen and (max-width: 320px) {
  .footer-icon {
    grid-column: 1 / 2; } }

@media only screen and (max-width: 1366px) and (max-height: 1024px) {
  .news-title__picture h1 {
    font-size: 130px; }
  .news-title__p {
    font-size: 20px; }
  .emission-img:last-child p {
    padding-bottom: 7%;
    font-size: 0.6rem; }
  .main-form__text {
    font-size: 0.6rem; } }

@media only screen and (max-width: 1024px) and (max-height: 1366px) {
  .main-position__cat {
    display: none; }
  .main-position-arrow {
    display: none; }
  .main__grid {
    height: 77vh; }
  .home {
    margin-bottom: 280px; }
  .main-time span {
    font-size: 0.8rem; }
  .ticker-container__text p:nth-child(1) {
    font-size: .6rem; }
  .ticker-container__text p:nth-child(2) {
    font-size: .6rem; }
  .ticker-container__text p:nth-child(3) {
    font-size: .5rem; }
  .main-time span {
    font-size: 0.6rem; } }

@media only screen and (max-width: 1024px) and (max-height: 768px) {
  .main-position__cat {
    display: none; }
  .main-position-arrow {
    display: none; }
  .main__grid {
    height: 78vmin; }
  .ticker-container__text p {
    margin-top: 2px; } }

@media only screen and (max-width: 768px) and (max-height: 1024px) {
  section {
    min-height: 660px; }
  .main__grid {
    height: 80vh; } }

@media only screen and (max-width: 414px) and (max-height: 736px) {
  .header {
    padding: 0 1px;
    padding-top: 20px; }
  .team-block {
    grid-template-columns: 1fr; }
  .team-block__img {
    margin: 0 auto; }
  .team-block__text {
    text-align: center; }
    .team-block__text p {
      width: 100%; }
  .footer-txt p:last-child {
    font-size: 2.5vw; }
  .news-title__picture h1 {
    font-size: 160px; }
  .news-title__image img {
    display: none; }
  .main__grid {
    height: 81vh; }
  .main-video {
    margin-top: 19vmin; } }

@media only screen and (max-width: 375px) and (max-height: 812px) {
  .main__grid {
    height: 74.5vh; } }

@media only screen and (max-width: 375px) and (max-height: 667px) {
  .main__grid {
    height: 83.5vh; }
  .footer-txt p:last-child {
    font-size: 2.5vw; }
  .home {
    margin-bottom: 0; }
  section {
    min-height: 700px; }
  .main-video {
    margin-top: 5vmin; } }

@media only screen and (max-width: 320px) and (max-height: 568px) {
  .main__grid {
    height: 86.5vh; }
  .main-form__email:before {
    right: -12px;
    top: 4px;
    height: 80%; }
  .section {
    min-height: 620px; }
  .news-title__picture h1 {
    font-size: 130px; }
  .footer-txt p:last-child {
    font-size: 2.5vw; }
  section {
    min-height: 600px; } }
